/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
}

body {
    background: #EFEADD;
    background-image: url(../img/bg-pattern.png);
    font-family: 'Gudea', sans-serif;
}

aside {
    width: 23%;
    margin: 1em;
    float: left;   
}

    .podheader {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 1px #A7A9AC;
        margin-bottom: 1em;
        overflow: hidden;
    }
    
        .podheader img {
            width: 15em;
        }

    .podregular {
        background: #F9F7F3;
        border-radius: 5px;
        box-shadow: 0px 0px 1px #A7A9AC;
        padding: 1em 1em 0em 1em;
        margin-bottom: 1em;
        overflow: hidden;
    }

section {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #A7A9AC;
    margin: 1em 1em 1em 0;
    padding: 1em;
    width: 67%;
    height: 93%;
    float: left;
}

    .controls {
        background: #E2E3E4;
        border-radius: 5px;
        box-shadow: 0px 0px 1px #000;
        padding: 1em;
        margin-bottom: 3em;
        display: none;
    }
    
    #wrench.invalid {
        -webkit-filter: sepia(0.75) hue-rotate(310deg) saturate(17);
    }
    
    #acceptSettings.invalid {
        background-color: #d00;
    }

        table {
            width: 100%;
        }
    
        td {
            padding: 0.5em;
        }
        
        label.invalid {
            color: red;
        }

        .input {
            font-family: 'Gudea', sans-serif;
        }
    
        .wpuserlist {
            width: 100%;
        }
    
        .blur {
            -webkit-filter: blur(5px);
        }

        .unblurbutton {
            font-family: 'Gudea', sans-serif;
            color: #fff;
            background-color: #EE677E;
            border-radius: 5px;
            margin-top: 1.5em;
        }

        .button {
            font-family: 'Gudea', sans-serif;
            color: #fff;
            background-color: #75C9B3;
            border-radius: 5px;
            margin: 1.5em 0 0 0.75em;
        }

    .messages {
        background: #E2E3E4;
        border-radius: 5px;
        box-shadow: 0px 0px 1px #000;
        padding: 1em;
        margin-bottom: 3em;
        display: none;
    }

        #messages h3, #messages p {
            color: #EE677E;
        }

        #messages .button {
            font-family: 'Gudea', sans-serif;
            color: #fff;
            background-color: #356A84;
            border-radius: 5px;
            margin: 0.5em 0 0 0;
        }

#progress_container {
    position: relative;
    margin: 0.8em 0;
    height: 3px;
}
    
    #progress_overlay {
        position: absolute;
        right: 0;
        top: 0;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }
    
    #progress_line {
        border-bottom: 1px solid #ccc;
        width: 100%;
        height: 1px;
    }
    
    #progress {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        background-image: url(../img/stripes.svg);
        width: 100%;
        height: 3px;
    }

#slides_container {
    width: 100%;
    height: 90%;
    position: relative;
}

    .slide {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    
    .graph {
        width: 100%;
        height: 100%;
    }

h1 {
    font-family: 'Bitter', serif;
}

h2 {
    font-family: 'Bitter', serif;
    margin: 0;
}

h3 {
    font-family: 'Bitter', serif;
    margin-top: 0em;
}

dt {
    float: left;
    width: 4em;
    font-weight: bold;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}